body{
    background-color: rgb(231, 219, 219);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(160, 109, 109);
}
.logo{
    font-size: 35px;
    font-weight: 600;
    color: rgb(61, 56, 102);
}
header ul li{
    list-style: none;
    display: inline-block;
}
header li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-transform: uppercase;
    position: relative;
}

header a:before{
    position: absolute;
    content: ' ';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: yellow;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
header a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
/*Content*/
.content{
    background-image: url(img//hmm.webp);
    padding: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}
.content h1{
    font-size: 45px;
}
.content p{
    font-size: 20px;
}
.content button{
    padding: 5px 10px;
    border: none;
    color: rgb(145, 46, 46);
    border: 1px solid rgb(145, 46, 46);
    font-size: 15px;
    border-radius: 20px;
    font-weight: 900;
}
.content button:hover{
    cursor: pointer;
    background-color: rgb(145, 46, 46);
    color: white;
}

/*Product*/
.name{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
.product{
    padding: 10px 5px;
    width: 310px;
    background: white;
    box-shadow: 0 10px 20px black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}
.product img{
    height: 250px;
    width: 100%;
}
.product .box{
    display: flex;
    align-items: center;
    padding: 20px;
}
.product .btn{
    text-align: center;
    font-size: 13px;
    color: rgb(145, 46, 46);
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid rgb(145, 46, 46);
    border-radius: 20px;
}
.product .btn:hover{
    cursor: pointer;
    background-color: rgb(145, 46, 46);
    color: white;
}

/*Contact*/
.cont img{
    height: 35px;
}
textarea{
    height: 100px;
    width: 250px;
}
.cont-btn{
    text-align: center;
    font-size: 13px;
    color: rgb(145, 46, 46);
    padding: 5px 10px;
    font-weight: 900;
    border: 1px solid rgb(145, 46, 46);
    border-radius: 20px;
}
.cont-btn:hover{
    cursor: pointer;
    background-color: rgb(145, 46, 46);
    color: white;
}
/*Footer*/
footer nav p{
    color: rgb(54, 48, 48);
}
footer nav ul{
    list-style: none;
    background-color: rgb(160, 109, 109);
    padding: 0;
    margin: 0;
    text-align: center;
}
footer nav li{
    display: inline-block;
}
footer nav a{
    text-decoration: none;
    color: rgb(54, 48, 48);
    width: 100px;
    font-size: 12px;
    padding: 15px 15px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    position: relative;
}
footer nav a:before{
    position: absolute;
    content: ' ';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: yellow;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
footer nav a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
@media screen and (max-width: 1000px) {
    .items{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .items{
        grid-template-columns: repeat(1, 1fr);
    }
}
html{
    scroll-behavior: smooth;
}